@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
:root{
    --hard-color:#FF9D61;
    --soft-color:#FFF0E7;
    --too-soft-color:#FFF7F1;
    --white-color:#FFFFFF;
    --grey-color:#F7F8F8;
    --black-color:#000000;
    --h1-font:3.2vw;
    --h2-font:1.5vw;
    --p-font:1.0vw;

}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--soft-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* form input */

form {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
}
form h1{
    font-size: 3vw;
    margin-bottom: -15%;
}
form .inputs{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form .inputs .input-email, .input-password {
    width: 50%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 2%;
}
.inputs input{
   
    font-size: var(--p-font);
    border-radius: 4px;
    border: 1px solid var(--soft-color);
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.091);
    transition: all 0.4s ease;

}

.input-email input, .input-password input {
    width: 100%;
    padding: 2.5% 2%;
}
.input-email p, .input-password p{
    margin-bottom: 0.5%;
}
form .inputs input::placeholder{
    font-size: 0.9vw;
}
form .inputs input:focus{
    background-color: var(--soft-color);
}
#forget{
    margin-top: 0.2%;
    color: rgb(95, 189, 248);
    font-size: 0.9vw;
    margin-bottom: 0.2%;

}
.input-submit, .login-google {
    margin-top: 3%;
    width: 50%;
    padding: 1.4% 2%;
    background-color: var(--soft-color);
    font-weight: 600;
    transition: all 0.5s ease;
}
input[type="submit"] {
    font-size: var(--p-font);
  }
  .login-google{
    padding-top: 1.7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
    text-decoration: none;
    font-size: var(--p-font);
    margin-top: 3%;
    border-radius: 4px;
  }
  .login-google i{
    margin-right:2%;
  }
  .input-submit:hover, .login-google:hover{
    background-color: #FF9D61;
  }
  .signup{
    width: 100%;
    text-align: center;
    font-size: var(--p-font);
  }
  .signup a{
    color: var(--hard-color);
    margin-left: 0.4%;
    font-weight: 600;
  }